:root {
  --font-family:  Arial, sans-serif;
  --primary-color: #FFFFFF;
  --secondary-color: #F5F5F5;
  --text-color: #000000;
  --accent-color: #4A67FF;
  --accent-darken-color: #435fe7;
  --accent-lighten-color: #99A9FF;
  --error-color: #E26F6F;
  --error-lighten-color: #F5E9E9;
}